.NavSideItem {
  color: #fff;
  background-color: $main-color;
  transition: all 0.5s;
  padding: 12px 10px 12px 40px;
  cursor: pointer;
  position: relative;
  &:hover {
    background-color: $secondary-color;
  }
  i.fas {
    position: absolute;
    left: 15px;
    top: 47%;
    transform: translateY(-50%);
  }
}
